/* 
    Autor.- Nerea Ãlvarez Justel 
    Fecha de modificacion.- 2021/01/24
*/
/* -------- TIPOS -------- */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@font-face {
    font-family: "Special Elite";
}
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@font-face {
    font-family: "Coda Caption";
}

* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    max-width: 100vw;
    max-height: 100vh;
}

body {
    width: 100%;
    margin: 0px;
}

/* -------- HEADER -------- */

#header {
    display: flex;
    justify-content: space-around;
}
        /*ICONOS*/             
.icono_logo:hover{
    filter: drop-shadow(2px 2px 2px #6D6D6D);
}

.titulo  {
   font-family: 'Special Elite', cursive;
    margin: auto;
    font-size: 16pt;
    text-align: left;
    border-bottom: 4px solid black;
}
.titulo  h1{
    margin-left: 25px;
}

.github>img{
    width: 40px;
}

/* -------- MAIN -------- */

main {
    min-height: calc(100vh - 140px);
    margin: 20px; 
   font-family: "Coda Caption", cursive;
}

label{
    font-size: 14pt;
}

.enter{
    text-align: center;
}
/* -------- FOOTER -------- */

footer {
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Coda Caption", cursive;
    width: 100vw;
    border-top: 2px solid black;
}
footer > address {
    font-size: 20px;
    padding: 10px 10px;

}
footer a{
    text-decoration: none;
    color: black;
}

.flex-container-align-item-center{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* -------- Formato de input -------- */
form[name="login"] input,form[name="singup"] input,form[name="editarPerfil"] input{
    width:160px;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

form[name="login"] span, form[name="singup"] span, form[name="editarPerfil"] span{
    font-size: 1rem; 
}

input[write=""]{
    background: none;
    width:160px;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

input[readonly=""]{
    background: none;
    width:160px;
    border: none;
    border-bottom: 3px solid #616161;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}


.fixed{
    position: fixed;
    bottom: 0;
}

.idioma{
    border: none;
    background: none;
    color: white;
} 

form[name="formularioIdioma"]{
    position: absolute;
    top: 52px;
    right: 0;
}

#fotoPerfil{
    width: 50px;
}

/* -------- BOTONES -------- */
 .button{
    margin:20px;
    text-align: center;
    color: black; 
    width: 120px; 
    height: 40px; 
    font-size: 10pt;
    border-radius: 10px;
    border: 2px solid black;
}
.button:hover{
    border: 4px solid black;
}